$font: 'Lato';
$darkgrey: #3a3a3a;
$back: #1a1a1a;
$text: #ccc;

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0
}

body{ 
    font-family: $font;
    background-color: $back;
    color: #fff;
    position: relative;
}

.pollution-meter{
    position: relative;
    svg{
        margin-left: auto;
        margin-right: auto;
        rect{
            stroke: none;
        }
    }
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    margin-top: 4em;
    width: 95%;
    domain{
        display: none;
    }
    .axis{
        .tick line{
            stroke: #ddd;
        }
        text{
            fill: #ddd;
        }
    }
    @media(max-width: 800px){
        margin-bottom: 1em;
    }
}

.current-level-container{
    text-align: center;
    margin-top: 2em;
    color: $text;
    .current-level{
        font-size: 3em;
        color: #fff;
    }
    .ins{
        width: 150px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0.5em;
        border-bottom: 0.5px solid #aaa
    }
    @media(max-width: 600px){
        .current-level{
            font-size: 2em;
            color: #fff;
        }
        .ins{
            padding-bottom: 0.2em;
            font-size: 0.9em;
            width: 120px;
            border-bottom: 0.5px solid #aaa
        }
    }
}

h1{
    font-size: 2.3em;
    font-family: 'PT Serif';
    line-height: 1.8em;
    max-width: 700px;
    width: 90%;
    text-align: center;
    font-weight: 500;
    margin: 1em auto;
    @media(max-width: 600px){
        font-size: 2em;
        line-height: 1.3em;
    }
}

.intro, .share-text{
    max-width: 750px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 1.2em;
    line-height: 1.6em;
    color: $text;
    @media(max-width: 750px){
        font-size: 1.1em;
    }
}

select {
    text-align: center;
    color: $back;
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    appearance: menulist;
    background: white;
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    appearance: menulist;
    padding: 10px!important;
    font-size: 20px;
    
    font-family: $font;
}

label{
    font-size: 0.9em;
    font-style: italic;
    display: block;
    margin-top: 1.5em;
    color: #fff;
    @media(max-width: 750px){
         margin-top: 1em;
    }
}

#city_selector{
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
}

#city_selector:focus{
    outline: none;
}

.share-text{
    max-width: 800px;
    margin-top: 2em;
    i{
        margin-left: 10px;
        cursor: pointer;
        font-size: 1.3em;
    }
    i:hover{
        color: #fff
    }
    a{
        color: inherit;
    }
} 


h3.byline{
    font-style: italic;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    margin-bottom: 0.8em;
    color: $text;
    font-size: 1.4em;
}

h3.byline.malay{
    margin-bottom: 2em;
    font-size: 1.1em;
     font-weight: 200;
}

h3.byline.dateline{
     margin-bottom: 2em;
    font-size: 1.1em;

}
.crackers-container{
    text-align: center;
}

.cracker-con{
    width: 250px;
    height: 146px;
    cursor: pointer;
    /*border-bottom: solid 2px #1a1a1a;*/
    @media(max-width: 600px){
            margin-left: auto;
    margin-right: auto;
    }
}

.cracker-outer.slick-slide.slick-active:focus {
    outline: none;
}

.cracker-con:hover{
    /*border-bottom: solid 2px #fff;*/
}

.cracker-con[data-which="ladi"]{
    background: url('/img/lori.png');
    background-size: cover;
}

.cracker-con[data-which="anar"]{
    background: url('/img/anar.png');
    background-size: cover;
}

.cracker-con[data-which="fuljhadi"]{
    background: url('/img/fuljhadi.png');
    background-size: cover;
}

.cracker-con[data-which="chakri"]{
    background: url('/img/chakri.png');
    background-size: cover;
}

.cracker-con[data-which="pulpul"]{
    background: url('/img/pulpul.png');
    background-size: cover;
}

.cracker-con[data-which="snake"]{
    background: url('/img/snake.png');
    background-size: cover;
}

.cal-move-arrow{
    -webkit-transition: left 0.01s; /* Safari */
    transition: left 0.01s;
}

.clean-air{
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 0.5em;
    width: 95%;
    max-width: 120px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #1a1a1a;
    background-color: #fff;
    cursor: pointer;
    -webkit-transition: all 0.3s; /* Safari */
    transition: all 0.3s;
    margin-top: 1em;
}

.clean-air:hover{
    color: #fff;
    background-color: $back;
}

.cracker-outer{
    width: 250px;
    height: 146px;
    text-align: center;
    display: inline-block;
    margin: 1em 0.2em;
    cursor: pointer;
    vertical-align: bottom;
    p{
        color: #ddd;
        font-style: italic;
    }
}

.rockets{
    text-align: center;
    margin-bottom: 2.5em;
    margin-top: 1em;

    .rocket{
        display: inline-block;
        width: 160px;
        margin-left: 1em;
        margin-right: 1em;     
    }
}

.cal-arrow-label{
    text-align: left;
    position: absolute;
    width: 300px;
    color: #eee;
    top: 0;
    margin-top: -30px;
    line-height: 10px;
    font-size: 15px;
    .cal-label-arrow {
        width: 0; 
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #eee;
        margin-top: 7px;
    }
    .cal-label-text{
        @media(max-width: 600px){
            font-size: 0.9em;
            width: 10px;
            text-align: right;  

        }
        @media(max-width: 500px){
            font-size: 0.8em;
        }
    }
    @media(max-width: 800px){
        width: 30%;
    }
    @media(max-width: 600px){
        margin-top: -50px;
        width: 10px;
    }
    @media(max-width: 500px){
        margin-top: -50px;
    }
}
.story{
    padding-top: 4em;
    @media(max-width: 450px){
        padding-top: 2em
    }
}
.nav {
    color: $darkgrey;
    height: 40px;
    background-color: #fff;
    width: 100%;
    position: fixed;
    z-index: 500;
    padding: 0.2em;
    top: 0;
    a{
        color: inherit;
    }
    .nav-logo {
        padding-left: .3em;
        vertical-align: middle;
        height: 60%;
        margin-top: 4px;
    }
    .nav-logo.mobile {
        display: none;
    }
    .nav-logo.desktop {
        vertical-align: middle;
        display: inline-block;
    }
    .right-container {
        position: absolute;
        right: 28px;
        top: 4px;
        font-size: 1.4em;
        i{
            margin-left: 8px;
        }
        @media(max-width: 750px){
            right: 14px;
        }
    }
    @media(max-width: 750px){
        .nav-logo.mobile {
            display: inline-block;
        }
        .nav-logo.desktop {
            display: none;
        }
    }
    @media(max-width: 450px){
        position: static;
    }
}

ul.slick-dots{
    display: none!important;
}

.crackers-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    @media(max-width: 600px){
         width: 70%;
    }
}

.slick-prev:before, .slick-next:before {
    font-size: 28px;
}

.footer-basic-centered {
    background-color: #fff;
    color: #1a1a1a;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font: normal 20px 'Lato',sans-serif;
    padding: 40px;
    margin-top: 6em;
    line-height: 38px;
    a{
        color: $back!important;
    }
}
footer {
    margin-bottom: -30px;
}

.notes{
    max-width: 1000px;
    width: 90%;
    margin-top: 6em;
    margin-left: auto;
    margin-right: auto;
    color: $text;
    padding-top: 2em;
    border-top: solid 0.5px rgba(231,231,231,0.3)
}

.mobile{
    display: none
}

.dialog{
    position: fixed;
    top: 30%;
    background: #fff;
    padding: 2em;
    max-width: 350px;
    width: 90%;
    font-size: 1.2em;
    left: 35%;
    border-radius: 5px;
    color: $back;
    button{
        position: absolute;
        right: 15px;
        top: 10px;

        background: none;
        border-style: none;
        font-size: 25px;
    }
    p{
        width: 90%;
    }
}

@media(max-width:450px){
    .desktop{
        display: none
    }
    span.mobile{
        display: inline-block;
    }
}
.clean-air.hide-desktop{
    display: none;
    width: 30px;
    
    padding: 0.1em 0.1em;
    margin-left: 10px;
    cursor: pointer;
}

.cal-arrow-label .hide-desktop{
    display: none;
    margin-right: 0;
    width: 10px;
}

@media(max-width: 600px){
    .rockets .rocket.hide-mobile{
        display: none;
    }
    .cal-arrow-label .hide-mobile{
        display: none;
    }
    .cal-arrow-label .hide-desktop{
        display: block;
        text-align: left!important;
    }
    .clean-air.hide-mobile{
        display: none;
    }
    .clean-air.hide-desktop{
        display: inline-block;
        vertical-align: middle;
    }
    .current-level-container{
        display: inline-block;
        vertical-align: middle;
    }
    .level-container{
        text-align: center;
    }

    .crackers-container{
        margin-top: 0.5em;
    }

    .intro.tap{
        font-size: 1em;
    }
    body{
        overflow-x: hidden;
    }
}

@media(max-width: 800px){
    .rockets .rocket.hide-tab{
        display: none;
    }
}